@model Products

@{
    ViewData["Title"] = "Create";
}
    <link rel="stylesheet" href="/assets/node_modules/html5-editor/bootstrap-wysihtml5.css" />

<link rel="stylesheet" href="/assets/node_modules/dropify/dist/css/dropify.min.css">
<!-- Bread crumb and right sidebar toggle -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
                    <h4 class="card-title">Products</h4>
    </div>
    <div class="col-md-7 align-self-center text-end">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb justify-content-end">
                       <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area="CP">الرئيسية</a></li>
                <li class="breadcrumb-item">لوحة التحكم</li>
                <li class="breadcrumb-item active"> Products</li>
            </ol>
            <a type="button" class="btn btn-info d-none d-lg-block m-l-15 text-white" asp-action="Index"><i class="fa fa-home"></i> الرئيسية</a>
        </div>
    </div>
</div>
<!-- End Bread crumb and right sidebar toggle -->

<div class="card-body">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                              <h4 class="card-title">Products</h4>
                    <form class="mt-4" asp-action="Create" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label  class="control-label">Name</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>

                        </div>
                            <div class="form-group">
                            <label  class="control-label"> Description</label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>

                        </div>
                            <div class="form-group">
                            <label  class="control-label"> Price</label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>

                        </div>

                     

                        <button type="submit" class="btn btn-primary text-white">حفظ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script src="/assets/node_modules/html5-editor/wysihtml5-0.3.0.js"></script>
    <script src="/assets/node_modules/html5-editor/bootstrap-wysihtml5.js"></script> 
 <script>
    $(document).ready(function() {

        $('.textarea_editor').wysihtml5();

    });
    </script>
<script src="/assets/node_modules/jquery-sparkline/jquery.sparkline.min.js"></script>
 <script src="/assets/node_modules/dropify/dist/js/dropify.min.js"></script>
    <script>
    $(document).ready(function() {
        // Basic
        $('.dropify').dropify();

        // Translated
        $('.dropify-fr').dropify({
            messages: {
                default: 'Glissez-déposez un fichier ici ou cliquez',
                replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                remove: 'Supprimer',
                error: 'Désolé, le fichier trop volumineux'
            }
        });

        // Used events
        var drEvent = $('#input-file-events').dropify();

        drEvent.on('dropify.beforeClear', function(event, element) {
            return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
        });

        drEvent.on('dropify.afterClear', function(event, element) {
            alert('File deleted');
        });

        drEvent.on('dropify.errors', function(event, element) {
            console.log('Has Errors');
        });

        var drDestroy = $('#input-file-to-destroy').dropify();
        drDestroy = drDestroy.data('dropify')
        $('#toggleDropify').on('click', function(e) {
            e.preventDefault();
            if (drDestroy.isDropified()) {
                drDestroy.destroy();
            } else {
                drDestroy.init();
            }
        })
    });
    </script>
}
